<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant catalogue for you" />
    <title>SavorSpot</title>
    <link rel="icon" type="image/png" href="SS.png" />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    <div id="splash-screen" style="width: 100%; height: 100vh">
      <picture>
        <source srcset="/images/icon/restaurant.webp" type="image/webp" />
        <source srcset="/images/icon/restaurant.png" type="image/png" />
        <img src="/images/icon/restaurant.png" alt="SavorSpot" />
      </picture>
    </div>
    <header>
      <navbar-restaurant></navbar-restaurant>
    </header>
    <main>
      <section class="hero">
        <div class="hero-overlay">
          <h1>Welcome to SavorSpot!</h1>
          <button class="explore-button" tabindex="0" id="main-content">
            <a href="#explore-content">Explore</a>
          </button>
        </div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="./images/heros/hero-image_2-large.webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="./images/heros/hero-image_2-large.jpg"
          />
          <source
            media="(max-width: 768px)"
            srcset="./images/heros/hero-image_2-small.webp"
          />
          <source
            media="(max-width: 768px)"
            srcset="./images/heros/hero-image_2-small.jpg"
          />
          <source
            srcset="./images/heros/hero-image_2-large.webp"
            type="image/webp"
          />
          <img src="./images/heros/hero-image_2-large.jpg" alt="Hero Image" />
        </picture>
      </section>
      <restaurant-list></restaurant-list>
      <loading-indicator></loading-indicator>
      <error-message></error-message>
    </main>
    <footer-restaurant></footer-restaurant>
  </body>
</html>
