<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant catalogue for you" />
    <title>SavorSpot</title>
    <link rel="icon" type="image/png" href="SS.png" />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
  </head>
  <body>
    <splash-screen></splash-screen>
    <header>
      <navbar-restaurant></navbar-restaurant>
    </header>
    <main>
      <hero-restaurant></hero-restaurant>
      <restaurant-list></restaurant-list>
      <loading-indicator></loading-indicator>
      <error-message></error-message>
    </main>
    <footer-restaurant></footer-restaurant>
  </body>
</html>
